* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Cabin", sans-serif;
  font-size: 16px;
}
body {
  background-color: black !important;
 
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
li a {
  text-decoration: none;
}
.dashed{
  border: solid #ff0000;
  height: 1px;
  background: #ff0000;
  width:10%;
  margin:0 auto;
  
  /* background: repeating-linear-gradient(90deg,#000,#000 6px,transparent 6px,transparent 15px); */
}
@keyframes slideInLeft {
  0% {
    transform: translateX(-100%);
  }
  50% {
    transform: translateX(10%);
  }
  75% {
    transform: translateX(-5%);
  }
  100% {
    transform: translateX(0%);
  }
}
@keyframes slideInRight {
  0% {
    transform: translateX(100%);
  }
  50% {
    transform: translateX(-10%);
  }
  75% {
    transform: translateX(5%);
  }
  100% {
    transform: translateX(0%);
  }
}
.slide-in-left {
  animation: slideInLeft 0.6s ease-in-out;
}
.slide-in-right {
  animation: slideInRight 0.6s ease-in-out;
}
.fixed-social-icons{
  position: fixed;
  top: 30%;
  right: 0;
  z-index: 10;
}
.fixed-social-icons ul{
  margin: 0;
  padding: 5px 17px;
}
.social-icon{
  margin: 10px 0;
  cursor: pointer;
}
.social-icon i{
  font-size: 1.5rem;
}
.navbar {
  padding: 0 !important;
  height: 80px !important;
  background-color: white !important;
  transition: all 0.3s ease;
  color: white !important;
}
.fa-bars {
  font-size: 2rem;
}

ul.navbar-ul {
  display: flex;
  justify-content: center;
  margin: 0 0 0 0;
}
.nav-item {
  margin: 0px 20px;
  text-transform: uppercase;
}
.show ul li {
  margin: 5px;
}
.nav-link {
  /* color: black !important; */
  transition: all 0.3s ease;
  font-weight: 600 !important;
  letter-spacing: 1px;
}
.model {
  color: red !important;
}
.dropdown-menu {
  overflow: hidden;
}
.dropdown-menu li {
  margin: 5px 0;
}
.dropdown-menu li a {
  color: white;
}
.dropdown-item {
  text-transform: capitalize;
  font-family: "Montserrat";
  color: black !important;
  transition: all 0.3s ease;
  overflow: hidden;
}
.dropdown-item:hover {
  color: white !important;
  transform: scale(1.1);
  background-color: #bb2f37 !important;
  transition: all 0.3s ease;
  overflow: hidden;
}
.nav-link:hover {
  color: #bb2f37 !important;
  transform: scale(1.1);
  transition: all 0.3s ease;
}
@media screen and (max-width: 992px) {
  .dealer-btn {
    display: none;
  }
}

/* HERO */
.hero {
  width: 100%;
  height: 600px;
  position: relative;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero::before {
  content: "";
  height: 100%;
  width: 100%;
  background: black url("assets/hero.png") center/cover no-repeat;
  position: absolute;
  top: 80px;
  z-index: -1;
  opacity: 0.4;
}
.row {
  margin: 0 !important;
  padding: 0 !important;
}
.company-name {
  font-size: 5rem;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 70px;
  text-align: center;
}
.company-more-info {
  font-size: 15px;
  padding: 0 7rem !important;
}
.company-more-info .title {
  font-size: 2.5em;
}
.company-more-info .description {
  font-size: 1.5em;
  color: rgb(216, 216, 216);
}

/* PRODUCTS */

.container {
  max-width: 100%;
}
.products {
  background-color: white;
  width: 100%;
  margin: 4rem 0rem;
  padding: 0rem;
}
.product {
  height: 50vh;
  width: 100%;
}
.product-container {
  margin-top: 2rem;
}
.dashed-bottom{
  width: 100%;
  background-image: linear-gradient(
    to right,
    black 33%,
    rgba(255, 255, 255, 0) 0%
  );
  background-position: bottom;
  background-size: 13px 1px;
  background-repeat: repeat-x;
  z-index: 100;
}
.product-container .heading {
  font-size: 3rem;
  line-height: 45px;
  font-weight: 600;
  color: black;
  display: inline-block;
  /* padding: 2rem 0;
    background: url(/src/assets/bg.png) no-repeat;
    background-position: 5% 0%; */
}
.product-img {
  overflow: hidden;
}
/* PRODUCT SWIPER  */
.products .swiper {
  width: 100%;
  height: 100%;
}
.products .mySwiper {
  width: 100%;
  height: 100%;
}

.products .swiper-slide {
  text-align: center;
  font-size: 18px;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  /* background: #fff; */
  /* background: #888; */

}

.rounded-start{
  /* background-image: url(/images/bg-designs/45degreee_fabric.webp);
  background-image: url(/images/bg-designs/beige-tiles.webp);
  background-image: url(/images/bg-designs/carbon_fibre.webp);
  background-image: url(/images/bg-designs/chevron.webp);
  background-image: url(/images/bg-designs/crossline-dots.webp);
  background-image: url(/images/bg-designs/dark-grey-terrazzo.webp);
  background-image: url(/images/bg-designs/double-bubble-outline.webp);
  background-image: url(/images/bg-designs/embossed-diamond.webp);
  background-image: url(/images/bg-designs/food.webp);
  background-image: url(/images/bg-designs/just-waves.webp);
  background-image: url(/images/bg-designs/light-grey-terrazzo.webp);
  background-image: url(/images/bg-designs/memphis-mini.webp);
  background-image: url(/images/bg-designs/oriental-tiles.png);
  background-image: url(/images/bg-designs/oriental.webp);
  background-image: url(/images/bg-designs/papyrus.webp);
  background-image: url(/images/bg-designs/pipes.webp);
  background-image: url(/images/bg-designs/spikes.webp);
  background-image: url(/images/bg-designs/sun-pattern.webp);
  background-image: url(/images/bg-designs/y-so-serious-white.png);
  background-image: url(/images/bg-designs/y-so-serious.png);
  background-image: url(/images/bg-designs/symphony-design.png); */
  background-image: url(/images/bg-designs/washi-design.webp);
  
}

.products .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.swiper-button-prev::after,
.swiper-button-next::after {
  display: none;
}

.products .mySwiper i {
  color: white;
  padding: 1rem;
  font-size: 1rem;
  background-color: #bb2f37;
  border-radius: 100%;
}

/* PRODUCT SWIPER  */
.product-container .prdt-head-container{
 padding-bottom:.5em;
  margin-top: 1.5em;
  margin-left: -15px;
  margin-right: -15px;
background-color: #333;
color:#fff;
width:100%;
max-width: 100%;
}
.product-container .pdt-name{
  font-weight: bold;
  text-align: center;
  text-transform: capitalize;
  padding-top: .1em;
}
.product img {
  height: 100%;
  width: 100%;
}
.product-info {
  font-size: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* padding: 0 5em; */
}
.product-info .title {
  font-size: 2.3em;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 700;
}

@media screen and (max-width: 960px) {
  .product {
    display: flex;
    flex-direction: column;
  }
  .products {
    padding: 0;
  }
}

.card {
  border: none !important;
}

.speed-max-speed {
  display: flex;
  margin: .86em 0;
}
.speed-max-speed hr {
  width: 5px;
  height: 70px;
  background-color: black;
  margin: 0 3em;
}

.speed h3,
.max-speed h3 {
  font-size: 1.8em;
  margin-left: .6em;
}
.speed p,
.max-speed p {
  margin-top: -1em;
  margin-left: .6em;
  text-align: center;
  font-size: 0.9em;
}
.product .description {
  font-size: 1.2em;
  letter-spacing: 2px;
  line-height: 22px;
  font-family: "Montserrat", sans-serif;
}
.product-btn {
  margin-top: 1.8em;
  font-size: 1em;
  width: 200px;
  height: 40px;
  color: white;
  background-color: #bb2f37;
  border: none;
  border-radius: 7px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.product-btn:hover {
  color: #bb2f37;
  font-weight: 500;
  border: 2px solid #bb2f37;
  background: transparent;
  transition: all 0.3s ease;
}

/* HIGHLIGHTS */
.highlights {
  width: 100%;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.highlights::before {
  content: "";
  width: 100%;
  height: 100%;
  background: url("assets/highlights-bg.png") center/cover no-repeat;
  position: absolute;
  top: 0;
  opacity: 0.7;
  z-index: -10;
}

.highlights .sec-heading {
  margin-top:.5em;
  margin-bottom: 1em;
}
#counterspeed{
  color:#bb2f37;
  font-size: 50px;
  line-height:50px;
}
.param_color {
    
    font-size: 26px;
    line-height: 26px;
    color: #fff;
}
.arrange_inline {
    display: inline;
}
.arrange_inline_block{
  display:inline-block;
}
.highlights .text-1{
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.highlights img {
  width: 150px;
  height: 150px;
}
.highlights .title {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  color: white;
  font-weight: 500;
  text-transform: capitalize;
  letter-spacing: 2px;
  margin-top: 8px;
}

.swiper-button-prev,
.swiper-button-next {
  width: auto !important;
  height: auto !important;
  background-image: none !important;
}

.swiper-container i {
  color: rgb(255, 255, 255);
  padding: 1rem;
  font-size: 2rem;
  background-color: #bb2f37;
  border-radius: 100%;
}
.swiper-pagination {
  display: none;
}

/* TEAM  */
#team {
  padding: 0px 0 75px 0;
  background-color: rgb(92 92 92);
}
.sec-heading h6 {
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
  color: white;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.single-box {
  border: 1px solid #ddd;
  border-radius: 20px;
  overflow: hidden;
  background-color: #fff;
}
.info-area {
  padding: 0 20px 8px;
}
.img-area {
  overflow: hidden;
  padding: 10px 0 10px;
}
.img-area img {
  margin: 0 auto;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  max-width: 204px;
}
.single-box:hover img {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.info-area i {
  display: inline-block;
  color: #bb2f37;
  margin: 0 4px;
}
.info-area h4 {
  font-weight: 600;
}
.info-area h5 {
  color: #3b04db;
  margin: 10px 0 0;
  font-weight: 600;
}
.info-area a {
  display: inline-block;
  margin: 25px 0 0;
  background-color: #bb2f37;
  color: #fff;
  padding: 10px 35px;
  border: 2px solid transparent;
  border-radius: 4px;
}
.team-slider .owl-dots {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -50px;
  text-align: center;
  width: 100%;
  /* margin: 20px 0; */
}
.team-slider button.owl-dot {
  width: 16px;
  height: 16px;
  display: inline-block;
  margin: 0 6px;
  text-align: center;
  border-radius: 50%;
  background-color: #ffffff !important;
}
.team-slider .owl-dot.active {
  background-color: #bb2f37 !important;
}
.move-animation {
  position: relative;
  -webkit-animation: move-animation 2s ease-in-out infinite;
  animation: move-animation 2s ease-in-out infinite;
}
@keyframes move-animation {
  0% {
    top: 3px;
  }
  50% {
    top: -3px;
  }
  100% {
    top: 3px;
  }
}
.info-area a:hover{
  text-decoration: none;
  background-color: #fff;
  color: #bb2f37;
  border-color: #bb2f37;
  transform: scale(1.1);
  transition: all 0.3s ease;
}
/* FOOTER  */
footer .logo-container {
  margin-bottom: 20px;
}
footer .about {
  margin-top: -15px;
}

/* back to top  */
#btn-back-to-top {
  position: fixed;
  bottom: 40px;
  right: 20px;
  display: none;
}
#leave-message {
  position: fixed;
  bottom: 0;
  right: 0;
}
/* new Swiper================================== */
.myswiper-container {
  position:relative;

}
.myswiper-container {
    margin-left: auto;
	  margin-right: auto;
		width: 100%;

		/* make room for arrows */
		padding-left: 2em;
		padding-right: 2em;
	}

	.swiper-wrapper {
   
		/* just enough width so slides handing off screen are partially visible */
		width: 100%;
	}
.swiper-slide.swiper-slide {
			/* a single column layout */
      padding-left:2em;
      padding-right: 2em;
			width: 100%;
		}
    .swiper-button-prev::after,
.swiper-button-next::after {
  display: none;
}
.swiper-button-prev,
.swiper-button-next {
  width: auto !important;
  height: auto !important;
  background-image: none !important;
}
    /* now move prev button more to the left */
		.swiper-button-prev {
			/* but first hide on small viewports */
		

			left: 0;
			top: 0;

			margin-top: 0;

			/* subtract .swiper-wrapper bottom-margin to vertically center arrow */
			height: calc(100% - 0em);
		}


		.swiper-button-next {
			/* hide on small viewports */
		
			right: 0;
			top: 0;

			margin-top: 0;

			/* subtract .swiper-wrapper bottom-margin to vertically center arrow */
			height: calc(100% - 3em);
		}

    .swiper-button-prev{
    display:block;
  }
  .swiper-button-next{
    display:block;
  }
.myswiper-container i {
  color: white;
  padding: 1rem;
  font-size: 1rem;
  background-color: #bb2f37;
  border-radius: 100%;
}